* {
    margin: 0%;
    padding: 0%;
}

/* 
    FFD369 Yellow
    5e6672 
    393E46 Gray
    222831 Dark
 */
body {
    background-color: #5e6672;
}

header {
    text-align: center;
    background-color: #222831;
    height: 190px;
}


header h1 {
    display: inline-block;
    margin: 20px 10px;
    padding: 15px;

    /* text-align: center; */
    font-family: Arial, Helvetica, sans-serif;

    width: 700px;
    background-color: #FFD369;
    color: #222831;

    border-radius: 300px;
    border-color: #222831;
    border-width: 5px;
    border-style: solid;
    /* width: 500px; */
}

nav {
    margin: 5px;
    padding: 10px;
}

nav a {
    /* margin: 10px 5px; */
    padding: 32px 15px;
    /* background-color: #393E46; */

    color: #5e6672;
    text-decoration: none;
    font-size: x-large;
    font-weight: bold;
    letter-spacing: 4px;

    transition: 700ms;
}

nav a:hover {
    color: gainsboro;
    background-color: #5e6672;
}

.link {
    margin: 40px 20px;
    padding: 20px 50px;
    text-align: center;

    border: 2px solid #FFD369;
    border-radius: 20px;
    background-color: #222831;

    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 4px;
    font-size: larger;
    font-weight: bold;
    color: whitesmoke   ;

    transition: 1s;
}

.card1 {
    background-color: #393E46;
    width: 80%;
    height: 350px;
    margin: 20px 40px;
    padding: 40px 20px;

    border: 10px solid #FFD369;
    box-shadow: 0px 0px 20px#FFD369;
    border-radius: 10%;

    display: flex;
    justify-content: space-evenly;

}
.card2 {
    background-color: #393E46;
    width: 80%;
    height: 350px;
    padding: 40px 100px;
    margin: 20px 40px;

    border: 10px solid #FFD369;
    box-shadow: 0px 0px 20px#FFD369;
    border-radius: 10%;

    color: burlywood;

    display: grid;
    /* justify-content: space-evenly; */

}
p{
    padding: 10px;
    margin: 0px;
}